html, body {
    height: 100%;
    margin: 0;
}

.page-wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    /* this pushes footer down if content is short */
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    background: #003366;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}