* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  margin: 10;
  background-color: grey;
  justify-content: center;
  align-items: flex-end;
}
.flex-container>div {
  background-color: #003366;
  width: 100px;
  text-align: center;
  line-height: 75px;
  font-size: 10px;
}
.icon {
  font-size: 40px;
  colour: #F5F1DE; 
  position: relative;
  top: 0.2em;
}
a:link {
  text-decoration: none;
  color: #F5F1DE;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

a:active {
  text-decoration: underline;
}
.colour {
  color: #F5F1DE;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EEEEEE;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: center;
}
table, th, td {
  border:1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
