/* SAME LINE THE LEFT HAND TABLE END  */
/*#region */
.page {
font-size: medium;
display: initial;
}
.productLayout {
  align-items: initial;
  width: auto;
} 
.imageColumn, .imageColumn2 {
  width: initial;
}
.imageColumn2 {
  height: initial;
} 
.imageDiv2 {
  height: initial;
  width: 100%;
  position: initial;
}
.imageDiv img {
  float: left;           /* keep aspect ratio  */
  margin: 0 auto;          /* centers image  */
}

/*#endregion*/

/* SAME LINE FROM DISPLAYRESULTS2 END*/
/*#region*/
.image-row {
  width: initial;
}
.image-row .unstacked-image {   /* SAME LINE specifically for images NOT next to one other END*/
  width: 100%;   
}
.productDetails {                                           /* SAME LINE where displayResults2 gets atached to END*/
  width: initial;
  bottom: initial;
  font-size: medium;
}
.basket-table, 
.basket-table tbody, 
.basket-table tr {   /* SAME LINE from displayResults2 END*/
  font-size: medium;
  width: 100%;
  display: block;
  box-sizing: border-box; 
}
.basket-table td .description, .description2, .productName, .mobileImageCell, .fullWidth, .addToBasket {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: initial;
  border-bottom: 1px solid #ccc;
}
#itemDescription{
  width: 100%;
  display: block;
  min-height: 80px;      /* keeps it from disappearing when above row changes */
  box-sizing: border-box;
}
.productName {
  width: 100%;
}
.description{
  width: 950;
}
.addToBasket {
  width: 100%;
}
/*#endregion*/

/* SAME LINE FROM COMPLETELOOK END*/
/*#region*/
.completeLook table{
  font-size: medium;
}
.spacer {
  height: 50px;
}
/*#endregion*/

/* SAME LINE FROM MAYALSOLIKE END*/
/*#region*/
.no-scrollbar {
  height: 300px;
}
#mayLike {
height: auto;
overflow: hidden;
}
#mayLike td{
    height: auto;
    overflow: hidden;
}
/*#endregion*/

/* SAME LINE FROM PREVIOUS SEARCHES END*/
/*#region*/
#previousSearches {
height: 500px;
overflow: hidden;
}
.previousSearches table{
  font-size: medium;
}
.previousSearches {
  overflow: hidden;
}
/*#endregion*/

/* SAME LINE FROM THE MODAL END*/
/*#region*/
/* Modal Content (image) */
.modal-content {
  width: 100%;
}
/*#endregion*/